pom.xml
pom.xml.asc
ac-comphist.dat
org-clock-save.el
cider-history
projectile-bookmarks.eld
*jar
/non-elpa
/elpa
/lib/
/classes/
/target/
/checkouts/
/tmp/
/auto-save-list/
/var/
/emms/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.emacs.desktop
.emacs.desktop.lock
